body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex; 
    flex-direction: column; 
}

input[type='textarea'] {
    min-height: 500px;
}

.submit-buttons {
    display: flex;
    justify-content: space-evenly;
}